@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../fonts/Raleway-Regular.ttf");
}

/*tags soltas*/
body {

  font-family: "Raleway", sans-serif;
}

button {
  background-color: transparent;
  border: solid 1px #33a8db;
  color: #33a8db;
  align-items: center;
  border-radius: 5px;
  margin: 30px;
  font-size: 15px;
  padding: 15px 50px;
  text-transform: uppercase;
  font-weight: 600;
}

/* header */
.banner {
  padding: 50px;
  background: url(../images/banner.png),linear-gradient(#000000, #11394b, #000000);
}
.banner img {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-color: #0000003a;
}
.banner-content {
  text-align: center;
}

.banner-content p {
  font-size: 20px;
  text-align: center;
  line-break: auto;
  padding: 0px 350px;
}

h1 {
  background: linear-gradient(#33a8db,#33a8db, #000); 
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  font-weight: 900;

}


h1,
h2 {

  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  
}
.banner-content p {
  font-size: 20px;
}


#course-content {
  background-color: #000;
  width: 100%;
  height: 605px;
}

#course-content p{
  padding: 0px 470px;
}

.module,
p {
  color: white;
  text-align: center;
  font-size: 20px;
}
.module-list {
  align-items: center;
  line-height: 3em;
}

.module {
  margin-top: 10px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  border: solid 1px #33a8db;
  background-color: #252525;
  border-radius: 90px;
  line-height: 40px;
  margin: 40px;
}
span {
  color: #33a8db;
}

/* oq tem no curso */
#transform-world {
  background-image: url("../images/woman-code.png");
  height: 800px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: #33a8db;
  padding-top: 90px;
  text-transform: uppercase;
  font-size: 2em;
}

/* foto fixa*/
#transform-world p {
  padding-top: 60px;
}

/*feedbacks*/

#professional-challenges {
  background-color: #000;
  width: 100%;
  height: 800px;
  text-align: center;
}

/*footer*/

footer {
  background-color: #000000;
  text-align: center;
  width: 100%;
  height: 170px;
}

footer img {
  text-align: center;
  padding-top: 50px;
}

a:link,
a:visited {
  color: #31a8dd;
}

/*section*/

section {
  border: solid 1px #33a9db52;
}
